body {
  text-align:center;
  font-family: Arial, sans-serif;
  max-width: 100%;
}

.background-color {
  background-color: pink;
}

#title {
  text-align: center;
  font-family: optima, sans-serif;
  font-size: 60px
}

#image {
  max-width: 100%;
  height: auto;
  display: block;
}

#img-caption {
  text-align: center;
  font-size: 20px;
}

h2 {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  color: white,
}

h3 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

div {
  background-color: white;
  font-size: 20px;
  margin:30px;
}

h2 {
  color: white;
  text-align: center;
  font-size: 30px;
}

#tribute-info {
  text-align: left;
  font-size: 20px;
  line-height: 40px;
}

#tribute-link, footer {
  text-align: center;
  font-size: 20px;
  line-height: 100px
}
